@import "variables";
body{
    background: black;
    margin: 0;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container{
    background: $color-body-main;
    color: $color-font-default;
    font-family: arial, verdana, sans-serif;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: $max-width;
    min-height: 100vh;
    margin: 0 auto; // Center the container horizontally

    @media (max-width: $max-width) {
        max-width: 100vw;
        padding: 0;
        overflow-x: hidden;
    }

}

.content-body{
    height: 100%;
    margin-right: $default-size-m;
    margin-left: $default-size-m;
    overflow: auto;
}

.has-default-border{
    border: $size-default-border solid $color-default-border;
    border-radius: $default-border-radius;
}

.simple-text-box{
    max-width: 100%;
    padding: 15px;
    font-size: 1.5em;
    margin: 0px auto $default-size-xl;
    border: 1px solid $color-body-diff;
    background-color: $color-body-diff;
    border-radius: 8px;
    &.is-warning{
        background-color: #0ea5e9;
    }
}



#image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-card {
    width: calc(50% - 10px); /* Two cards per row with some space between */
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px black solid;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    .image-details {
        padding: 10px;

        p {
            margin: 5px 0;
        }
    }
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



