@import "variables";

.banner {
  background-color: $color-footer-background-upper-part;
  padding: 10px;
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
  color: $color-body-main;
  margin-bottom: 10px;
}