@import "variables";

.banner {
  background-color: $color-footer-background-upper-part;
  padding: 20px;
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
  color: $color-body-main;
  margin-bottom: 10px;

  border-bottom: solid 5px black;

  display: flex;

  .header-image{
    max-width: 50px;
    max-height: 50px;
  }

  .header-link{
    a{
      text-decoration:none;
      color: $color-body-main;
      font-size: 1.5em;
    }
  }

}