<div class="banner">
    <div class="header-image">
        <a href="{{ path('app_home') }}"><img src="{{ asset('image/img.png') }}" alt=""></a>
    </div>
    <div class="header-link">
        <a  href="{{ path('app_home') }}">Et kölsch(man) Dreijestirn</a>
    </div>
</div>

