{% extends 'base.html.twig' %}

{% block title %}Dat koelsch Dreijestirn{% endblock %}

{% block body %}


    <div class="content-body">
        <h1>Allgemeine Geschäftsbedingungen (AGB)</h1>
        <p><strong>1. Geltungsbereich</strong></p>
        <p>Diese Allgemeinen Geschäftsbedingungen regeln die Nutzung der Website https://www.koelsch-dreijestirn.com (nachfolgend "Website" genannt).</p>

        <p><strong>2. Nutzungsbedingungen</strong></p>
        <ul>
            <li>Die Nutzung der Website unterliegt diesen AGB.</li>
            <li>Benutzer sind dafür verantwortlich, sicherzustellen, dass die von ihnen hochgeladenen Bilder den geltenden Gesetzen entsprechen und keine Rechte Dritter verletzen.</li>
            <li>Die Website kann Benutzern das Recht einräumen, Bilder hochzuladen, zu bearbeiten und zu teilen, unterliegt jedoch den Einschränkungen dieser AGB und den geltenden Gesetzen.</li>
        </ul>

        <p><strong>3. Eigentumsrechte</strong></p>
        <ul>
            <li>Benutzer behalten das Urheberrecht an den von ihnen hochgeladenen Bildern.</li>
            <li>Durch das Hochladen von Bildern auf die Website räumen Benutzer der Website eine nicht-exklusive Lizenz ein, die Bilder im Rahmen der Website zu nutzen, zu bearbeiten und zu teilen.</li>
        </ul>

        <p><strong>4. Haftungsbeschränkungen</strong></p>
        <ul>
            <li>Die Website übernimmt keine Verantwortung für den Inhalt der hochgeladenen Bilder und lehnt jegliche Haftung für Verluste oder Schäden ab, die aus der Nutzung dieser Bilder resultieren.</li>
            <li>Benutzer sind für den Inhalt, den sie hochladen, verantwortlich, und die Website behält sich das Recht vor, Inhalte zu entfernen, die gegen diese AGB verstoßen oder als unangemessen erachtet werden.</li>
        </ul>

        <p><strong>5. Datenschutzrichtlinien</strong></p>
        <p>Die Datenschutzrichtlinien der Website regeln die Verwendung von personenbezogenen Daten der Benutzer und sind integraler Bestandteil dieser AGB.</p>

        <p><strong>6. Urheberrechtsrichtlinien</strong></p>
        <p>Die Website respektiert das geistige Eigentum Dritter und behandelt Beschwerden über Urheberrechtsverletzungen gemäß den geltenden Gesetzen.</p>

        <p><strong>7. Änderungen der AGB</strong></p>
        <p>Die Website behält sich das Recht vor, diese AGB jederzeit ohne vorherige Ankündigung zu ändern. Benutzer werden über wesentliche Änderungen informiert.</p>

        <p><strong>8. Schlussbestimmungen</strong></p>
        <p>Diese AGB unterliegen ausschließlich deutschem Recht.</p>
    </div>
{% endblock %}
